button {
    background-color: #80c4aa;
     font-family: Segoe UI, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #598d79;
  }
  button:hover {
    background-color: #61b896;
    color: #333333
  }
  .hidden {
    display: none;
  }
  .showing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lucida Sans, sans-serif;
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #f1c685;

  }
  