button {
    background-color: #ff7f50;
     font-family: Segoe UI, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #ff6348;
  }
  button:hover {
    background-color: #FF8352;
    color: #333333
  }
  .hidden {
    display: none;
  }
  .showing {
    display: block;
    font-family: Lucida Sans, sans-serif;
    background-color: #ffcccc;
    color: #e17055;
    width: 320px;
    padding: 20px;
    padding-left: 35px;
    padding-top: 10px;
    margin-top: 20px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #e17055;
    text-align: center;
  }
  