body {
    margin: 0;
    background-image: url("prettypattern.jpeg");
    background-size: 50px;
    background-color: rgb(130, 163, 173);
    text-align: center;
}

h1 {
    color: #46BEA2;
    font-family: Lucida Sans, sans-serif;
  }