body {
    margin: 0;
    background-image: url("prettypattern.jpeg");
    background-color: rgb(130, 163, 173);
    background-size: 60%;
    text-align: center;
}

h1 {
    color: #413b3b;
    font-family: Lucida Sans, sans-serif;
  }

h1 style {
    margin-top: 40px;
}